body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 18px;
  max-width: 100vw;
  color: 	#818498;
}

h1 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 4% 0;
}

h2 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: #23303e;
}

h3 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
}

h4 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: 	#a7abae;
}

p {
  line-height: 1.5;
}

/* MENU */

.logo {
  margin: 0 3%;
  padding: 3.5% 0;
  float: left;
}

.logo img {
  width: 130%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  padding: 0 1.5%;
  font-weight: 500;
}

.menu {
  text-align: right;
  padding: 2%;
}

.menu-btn {
  font-family: 'Fraunces', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #23303e;
  border: none;
  text-transform: uppercase;
  margin: 0 2%;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  background: #FFFFFF;
  padding: 1.2% 2%;
}

/* HEADING */

.heading {
  color: #FFF;
  text-align: center;
  height: 700px;
  background-color: #3dbeff;
  background-repeat: no-repeat;
  background-image: url("/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg");
  background-size: 1260px;
  background-position: center;
}

.arrow-down {
  margin-top: 4.5%;
}

/* TRANSFORM SECTION */

.box-sections {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.transform {
  width: 50%;
  height: 600px;
}

.transform-content {
  margin: 0 auto;
  padding: 18%;
}

.transform-content p {
  padding-bottom: 5%;
}

.transform-img {
  width: 50%;
  height: 600px;
  background-image: url(/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffd101;
}

/* STANDOUT SECTION */
.standout {
  width: 50%;
  height: 600px;
}

.standout-content {
  padding: 18%;
}

.standout-content p {
  padding-bottom: 5%;
}

.standout-img {
  width: 50%;
  height: 600px;
  background-image: url(/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff7362;
}

.standout-img img {
  width: 100%;
  height: 100%;
}

.learn-more {
  text-transform: uppercase;
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  color: 	#23303e;
  text-decoration: none;

}

.standout.learn-more {

}

/* GRAPHIC DESIGN AND PHOTOGRAPY SECTION*/
.graphic-design {
  width: 50%;
  height: 600px;
  background-image: url(/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #98dbcc;
}

.graphic-design div {
  color: #22594e;
  text-align: center;
  position: relative;
  top: 33%;
  padding: 23%;
}

.graphic-design p {
  color: #3f7a6e;
}

.photography {
  width: 50%;
  height: 600px;
  background-image: url(/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #5ccaff;
}

.photography div {
  color: #19536b;
  text-align: center;
  position: relative;
  top: 33%;
  padding: 23%;
}

/* TESTIMONIALS SECTION */
.testimonials-section {
  text-align: center;
  padding: 10%;
}

.testimonial-container {
  display: flex;
}

.testimonial {
  text-align: center;
  flex: 1 1 0;
  padding: 0 1%;
}

.testimonial img {
  border-radius: 100px;
  width: 20%;
  margin: 15% 0 10%;
}

.testimonial p {
  color: #616a75;
  line-height: 1.8;
}

.signature {
  padding: 6% 0 0;
}

.signature h3 {
  color: 	#23303e;
  font-size: 1.2rem;
  padding-top: 2%;
  margin-bottom: 0;
}

.signature p {
  font-size: 0.9rem;
  color: 	#a7abae;
  padding-top: 0;
  margin-top: 2.5%;

}

/* GALLERY SECTION */
.gallery-container {
  display: flex;
}

.gallery-container img {
  width: 25%;
}

/* FOOTER SECTION */
.footer {
  text-align: center;
  color: #4e9283;
  width: 100%;
  height: auto;
  background-color: #90d4c5;
}

.footer-logo {
  padding: 6% 0 3%;;
}

.footer-logo img {
  width: 12%;
}

.footer li {
  padding: 0 2%;
  font-size: 1.3rem;
}

.social-media {
  padding: 6%;
}

.social-media  a {
  padding: 0 1%;
}

.social-media img {
  width: 1.7%;
}
