body {
 margin: 0;
 font-family: 'Barlow', sans-serif;
 font-size: 18px;
 max-width: 100vw;
 color: 	#8e8c97;
}

h1 {
font-family: 'Fraunces', sans-serif;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.1em;
margin: 100px 0;
}

h2 {
font-family: 'Fraunces', sans-serif;
font-weight: 700;
font-size: 2.5rem;
color: #000;
}

h3 {
font-family: 'Fraunces', sans-serif;
font-weight: 700;
font-size: 1.5rem;
}

/* HEADING */

.heading {
  color: #FFF;
  text-align: center;
  height: 700px;
  background-color: #3dbeff;
  background-repeat: no-repeat;
  background-image: url("/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg");
  background-size: 1260px;
  background-position: center;

}

/* MENU */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  padding: 0 10px;
}

.menu {
  text-align: right;
  padding: 30px;
}

.logo {
  margin: 0 15px;
  float: left;
}



.box-sections {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* TRANSFORM SECTION */

.transform {
  width: 50%;
  height: 600px;
}

.transform div {
  margin: 0 auto;
  padding: 18%;
}


.transform-img {
  width: 50%;
  height: 600px;
  background-image: url(/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffd101;
}


/* STANDOUT SECTION */

.standout {
  width: 50%;
  height: 600px;
}

.standout div {
  margin: 0 auto;
  padding: 18%;
}

.standout-img {
  width: 50%;
  height: 600px;
  background-image: url(/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff7362;
}

.standout-img img {
  width: 100%;
  height: 100%;
}


/* GRAPHIC DESIGN AND PHOTOGRAPY SECTION*/

.graphic-design {
  width: 50%;
  height: 600px;
  background-image: url(/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #98dbcc;
}

.graphic-design div {
  color: #25564b;
  text-align: center;
  position: relative;
  top: 35%;
  padding: 23%;
}

.photography {
  width: 50%;
  height: 600px;
  background-image: url(/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #5ccaff;
}

.photography div {
  color: 	#19536b;
  text-align: center;
  position: relative;
  top: 35%;
  padding: 23%;
}

/* TESTIMONIALS SECTION */

.testimonials-section {
  text-align: center;
  padding: 10%;
}

.testimonial-container {
  display: flex;
}

.testimonial {
  text-align: center;
  flex: 1 1 0;
  padding: 0 1%;
}

.testimonial img {
  border-radius: 100px;
  width: 20%;
  margin: 15% 0 10%;
}

.signature {
  padding: 10%;
}

/* GALLERY SECTION */


.gallery-section {

}
.gallery-container {
  display: flex;

}
.gallery-container img {
  width: 25%;

}

/* FOOTER SECTION */

.footer {
  text-align: center;
  color: 	#458c7e;
}
