html {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: 	#818498;
  letter-spacing: -0.2px;
}

a {
  text-decoration: none;
  color: #fffbf8;
}

body {
  margin: 0;
  max-width: 100%;
}

h1 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 3.05rem;
  letter-spacing: 0.55rem;
  text-transform: uppercase;
  margin: 4.7% 0;
}

h2 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  color: #23303e;
}

h3 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 1.55rem;
}

h4 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 1.1rem;
  color: #a7abae;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 1.6% 0 2.3%;
}

p {
  line-height: 1.7;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
  padding: 0 1.8%;
  font-weight: 500;
}

.smaller-font {
  font-size: 0.9rem;
}

/* MENU */

.logo {
  margin: 0 2.8%;
  padding: 3.2% 0;
  float: left;
}

.logo img {
  width: 138%;
}

.menu {
  text-align: right;
  padding: 1.3% 1.5%;
}

.menu li {
  opacity: 0.8;
}

.menu-btn {
  border: none;
  text-transform: uppercase;
  margin: 0 2% 0 1.3%;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  background: #fffbf8;
  padding: 1.3% 2.2%;
  color: #23303e;
  font-family: 'Fraunces', sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
}

.menu-btn:hover {
  background-color: rgba(255, 251, 248, 0.3);
  color: #fffbf8;
  cursor: pointer;
}


/* HEADING */

.heading {
  color: #fffbf8;
  text-align: center;
  height: 800px;
  background-color: #3dbeff;
  background-repeat: no-repeat;
  background-image: url("/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg");
  background-size: 1440px;
  background-position: center;
}

.arrow-down {
  margin-top: 6.5%;
}

/* TRANSFORM SECTION */

.box-sections {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box-container {
  width: 50%;
  height: 600px;
}

.transform-content {
  padding: 17% 16% 17% 23%;
}

.transform-img {
  background-image: url(/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffd101;
}

/* STANDOUT SECTION */

.standout-content {
  padding: 17% 24% 17% 15%;
}

.standout-img {
  background-image: url(/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff7362;
}

.learn-more {
  padding: 2.2% 0 0 1.55%;
}

.learn-more a {
  text-transform: uppercase;
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  color: 	#23303e;
  text-decoration: none;
  letter-spacing: 0.2px;
  z-index: 0;
}

.learn-border {
  border-bottom: solid 10px;
  border-radius: 28px;
  width: 30%;
  position: relative;
  top: 1.3rem;
  right: 0.2rem;
  opacity: 0.5;
  z-index: 2;
}

.learn-more:hover .learn-border {
  cursor: pointer;
  opacity:1;
  z-index: -1;
}

.trnsfrm {
border-bottom-color: #fad400;
}

.stnd {
border-bottom-color: #fe7867;
}


/* GRAPHIC DESIGN AND PHOTOGRAPY SECTION*/
.graphic-design {
  background-image: url(/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #98dbcc;
  color: #22594e;
  display: inline-block;
}

.bottom-container {
  text-align: center;
  position: relative;
  top: 34%;
  padding: 23%;
}

.graphic-design p {
  opacity: 0.7;
  padding: 0 6%;
}

.photography {
  background-image: url(/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #5ccaff;
  color: #19536b;
}

.photography p {
  padding: 0 6%;
  opacity: 0.7;
}

/* TESTIMONIALS SECTION */
.testimonials-section {
  text-align: center;
  padding: 10%;
  background-color: #fffbf8;
}

.testimonial-container {
  display: flex;
}

.testimonial {
  text-align: center;
  flex: 1 1 0;
  padding: 0 1.6%;
}

.testimonial img {
  border-radius: 100px;
  width: 20.5%;
  margin: 15% 0 10%;
}

.testimonial-text {
  color: #5a636c;
}

.signature {
  padding: 6% 0 0;
}

.signature-name {
  color: 	#23303e;
  padding-top: 4.7%;
  margin-bottom: 0;
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
}

.signature-title {
  font-size: 0.80rem;
  color: 	#bab9b8;
  padding-top: 0;
  margin-top: 1.3%;

}

/* GALLERY SECTION */
.gallery-container {
  display: flex;
}

.gallery-container img {
  width: 25%;
}

/* FOOTER SECTION */
.footer {
  text-align: center;
  color: #4e9283;
  width: 100%;
  height: auto;
  background-color: #90d4c5;
}

.footer-logo {
  padding: 5% 0 0;
}

.footer-logo img {
  width: 12%;
  margin: 0 1% 0 0;
}

.footer ul {
  padding: 1.3% 0 0;

}

.footer li {
  padding: 0 2%;
  font-weight: 600;
}

.footer li a {
  color: #458c7e;
}

.footer li a:hover {
  color: #fffbf8;
}

.social-media {
  padding: 5% 0;
}

.social-media  a {
  padding: 0 0.85%;
}

svg {
  fill: #2C7566;
}

svg:hover {
  fill: #fffbf8;
}

.social-media img {
  width: 1.37%;
}

/*** MOBILE SCREENS ****/


@media only screen and (max-width: 375px) {

  h1 {
    font-size: 2rem;
    padding: 15% 2%;
  }

  h2 {
    font-size: 1.8rem;
  }

  /* HEADING */

  .heading {
    background-color: #3dbeff;
    background-repeat: no-repeat;
    background-image: url("/Users/roxan/Desktop/Web_Development/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg");
    background-size: 800px;
    background-position: center bottom;
    height: 600px;
  }

  .logo {
    padding: 8% 4%;
    float: left;
  }

  .logo img {
    width: 110%;
  }

  /* BOX SECTIONS */

  .box-container {
    width: 100%;
    height: auto;
  }

  /* TRANSFORM */

  .transform-img {
    order: 0;
    height : 400px;
    background-size: cover;
  }

  .transform-content {
    padding: 12% 8% 18%;
    text-align: center;
  }

  #transform {
    order: 1;
  }

  .learn-border {
    border-radius: 28px;
    width: 44%;
    position: relative;
    opacity: 0.5;
    z-index: 2;
    left: 4.6rem;
  }

/* STANDOUT */

  .standout-img {
    order: 2;
    height: 400px;
    background-size: cover;
  }

  #standout {
    order: 3;
  }

  .standout-content {
    padding: 12% 8% 18%;
    text-align: center;
  }

  .graphic-design {
    order: 4;
  }

  .photography {
    order: 5;
  }

/* TESTIMONIALS */

.testimonials-section {
  text-align: center;
  padding: 10% 6%;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
}

.testimonial {
  text-align: center;
  padding-top: 15%;
}

.testimonial img {
  border-radius: 100px;
  width: 30%;
  margin: 0;
}

.signature {
  padding: 2% 0;
}

.signature-name {
  padding: 0;
  margin-bottom: 0;
}

.signature-title {
  padding-top: 0;
  margin-top: 0;

}

/* GRAPHIC DESIGN AND PHOTOGRAPHY */

.graphic-design {
  width: 100%;
  height: 600px;
  display: block;
}

.bottom-container {

  position: relative;
  top: 60%;
  padding: 0%;
}

.graphic-design p {
  opacity: 1;
  padding: 0 6%;
}

.photography {
  width: 100%;
  height: 600px;
  display: block;
}

.photography p {
  padding: 0 6%;
  opacity: 1;
}



/* GALLERY SECTION*/
.gallery-container {
  display: flex;
  flex-wrap: wrap;
}

.gallery-container img {
  width: 50%;
  height: auto;
}

/* FOOTER SECTION */

.footer-logo {
  padding: 15% 0 5%;
  margin: 0 auto;
}

.footer-logo img {
  width: 50%;
}

.footer ul {
  padding: 0;

}

.footer li {
  padding: 0 6%;
}

.social-media {
  padding: 15% 5%;
}

.social-media img {
  width: 1.37%;
}

.social-media  a {
  padding: 3%;
}

}

}
